WSDL/server/calculate.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?> 
<definitions name='plus' 
  targetNamespace='http://example.org/plus' 
  xmlns:tns=' http://example.org/plus ' 
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
  xmlns:xsd='http://www.w3.org/2001/XMLSchema' 
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' 
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' 
  xmlns='http://schemas.xmlsoap.org/wsdl/'> 

<message name='paramRequest'> 
  <part name='num1' type='xsd:float'/> 
  <part name='num2' type='xsd:float'/>
</message> 

<message name='paramResponse'> 
  <part name='Result' type='xsd:float'/> 
</message> 

<portType name='calculatePortType'> 
  <operation name='plus'> 
    <input message='tns:paramRequest'/> 
    <output message='tns:paramResponse'/> 
  </operation> 

  <operation name='minus'> 
    <input message='tns:paramRequest'/> 
    <output message='tns:paramResponse'/> 
  </operation> 

  <operation name='multiple'> 
    <input message='tns:paramRequest'/> 
    <output message='tns:paramResponse'/> 
  </operation> 

  <operation name='divide'> 
    <input message='tns:paramRequest'/> 
    <output message='tns:paramResponse'/> 
  </operation> 
</portType> 


<binding name='calculateBinding' type='tns:calculatePortType'> 
  <soap:binding style='rpc' 
    transport='http://schemas.xmlsoap.org/soap/http'/> 
  <operation name='plus'> 
    <soap:operation soapAction='urn:xmethods-delayed-quotes#plus'/> 
    <input> 
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
    </input> 
    <output> 
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
    </output> 
  </operation> 

  <operation name='minus'> 
    <soap:operation soapAction='urn:xmethods-delayed-quotes#minus'/> 
    <input> 
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
    </input> 
    <output> 
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
    </output> 
  </operation>

  <operation name='multiple'> 
    <soap:operation soapAction='urn:xmethods-delayed-quotes#multiple'/> 
    <input> 
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
    </input> 
    <output> 
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
    </output> 
  </operation>

  <operation name='divide'> 
    <soap:operation soapAction='urn:xmethods-delayed-quotes#divide'/> 
    <input> 
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
    </input> 
    <output> 
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' 
        encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
    </output> 
  </operation>
</binding> 


<service name='plusService'> 
  <port name='plusPort' binding='calculateBinding'> 
    <soap:address location='http://localhost/CSI400/WSDL/server/server.php'/> 
  </port> 
</service> 
<service name='minusService'> 
  <port name='minusPort' binding='calculateBinding'> 
    <soap:address location='http://localhost/CSI400/WSDL/server/server.php'/> 
  </port> 
</service> 
<service name='multipleService'> 
  <port name='multiplePort' binding='calculateBinding'> 
    <soap:address location='http://localhost/CSI400/WSDL/server/server.php'/> 
  </port> 
</service> 
<service name='divideService'> 
  <port name='dividePort' binding='calculateBinding'> 
    <soap:address location='http://localhost/CSI400/WSDL/server/server.php'/> 
  </port> 
</service> 
</definitions> 
